<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/starability-basic.css"/>

<div class="row">
  <div class="col-4 offset-1">
    <div class="mx-auto" style="width: 26rem;">
      <h3 class="text-center">Ballpark Details</h3>
      <div id="ballparksCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% ballpark.images.forEach((image, index) => { %>
            <div class="carousel-item <%= index === 0 ? "active" : "" %> ">
              <img src="<%= image.url %>" class="d-block w-100" alt="" style="height: 25rem; width: 25rem; object-fit: cover;">
            </div>
          <% }) %>
        </div>
        <% if (ballpark.images.length > 1) { %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#ballparksCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#ballparksCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>
      <div class="card text-center mb-5">                              
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;"><%= ballpark.ballpark %></h5>
          <p class="card-text"><%= ballpark.team %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">League : <%= ballpark.league %></li>
          <li class="list-group-item">Latitude : <%= ballpark.latitude %></li>
          <li class="list-group-item">Longitude : <%= ballpark.longitude %></li>
        </ul>
        <% if(loggedInUser && ballpark.author.equals(loggedInUser._id)){%> 
          <div class="card-body d-flex justify-content-evenly">
            <a href="/ballparks/<%= ballpark._id %>/edit" class="btn btn-secondary card-link">Edit Ballpark</a>
            <form action="/ballparks/<%= ballpark._id %>/delete?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Ballpark</button>
            </form>            
          </div>
        <% } %>
        <div class="card-footer">
          <small class="text-muted">Ballpark submitted by: <%= ballpark.author.username %> </small>
        </div>
      </div>        
    </div>
  </div>
  <div class="col-4 offset-2">
    <% if(loggedInUser) { %> 
    <h3 class="text-center">Review Ballpark</h3>
      <form class="needs-validation mb-3" action="/ballparks/<%= ballpark._id %>/reviews" method="POST" novalidate>
        <div class="mb-3">
          <label class="form-label" for="review[rating]">Rating</label>
          <fieldset class="starability-basic mt-2">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3">
          <label class="form-label" for="review">Review</label>
          <textarea class="form-control" name="review[review]" id="review" cols="30" rows="3" required></textarea>
          <div class="invalid-feedback">
            Please provide a review
          </div>
        </div>
        <button class="btn btn-success mb-3">Submit Review</button>
      </form>
    <% } %>  
      <h3 class="text-center">Reviews</h3>
      <div class="card">
        <% for (let review of ballpark.reviews) { %>
        <div class="card-header" style="font-weight: bold">
          <div class="d-flex p-1 justify-content-sm-between">
            <h6 class="starability-result" data-rating="<%=review.rating%>" style="margin-top: -.5rem"></h6>                       
            <h6 class="card-subtitle"><small class="text-muted">Submitted by: <%=review.author.username%></small></h6>
          </div>                           
        </div>        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%=review.review %>
            <% if(loggedInUser && review.author.equals(loggedInUser._id)){%>
            <form class="mt-3 d-grid gap-2 d-md-flex justify-content-md-end" action="/ballparks/<%= ballpark._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %> 
          </li>
        </ul>
        <% } %> 
      </div>      
  </div>    
</div>